<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" type="text/css" href="/css/style.css" >
    
    <title>Login Node Js</title>
</head>
<body>
    <div class="container">
        <div class="container-login">
            <h1>Login Node Js</h1>
            <form method="post" action="login/logar">
                <input type="text" name="email" placeholder="Email"/>
                <input type="password" name="senha" placeholder="Senha"/>
                <button type="submit">Logar</button>
            </form>
        </div>
    </div>
</body>
</html>